{% extends 'main1.html' %} {% load static %} {% block content %}
<style>
  .noti_icon {
    display: none !important;
  }

  .player {
    display: none;
  }

  @media (max-width: 767px) {
    .player {
      display: none;
    }
  }

  @media (max-width: 575px) {
    .player {
      display: none;
    }
  }

  @media (max-width: 420px) {
    .player {
      display: none;
    }
  }
</style>


<!-- donate ui -->

<div
  class="hero-wrap"
  style="background-image: url('images/xbg_2.jpg.pagespeed.ic.x-hmjhxkWE.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <section class="ftco-section contact-section">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6 ftco-animate">
          <form
            action="{% url 'donate' %}"
            class=""
        method="post"
        style="
          margin-top: 170px;
          border-style: solid;
          border-color: #33455a;
          padding: 20px;
          border-width: 0.01rem;
        "
          >
            {% csrf_token %}
            <div class="mb-3">
              <div class="ms_top_search">
              {% if messages %} {% if messages.error %}
              <div
                class="alert alert-danger alert-dismissible fade show border mr-5 ml-5"
                role="alert"
                style="
                  position: absolute;
                  width: 100%;
                  z-index: 100000000000;
                  top: 5%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: red;
                  background-color: #33455a;
                  border: 0.01rem solid #33455a;
                  border-radius: 5px;
                  padding: 10px;
                  /* text-align: center; */
                "
              >
                {% for message in messages %}
                <strong>{{message}}</strong>
                <button
                  type="button"
                  class="btn-close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <!-- <span aria-hidden="true">&times;</span> -->
                </button>
                {% endfor %}
              </div>
              {% else %}
              <div
                class="alert alert-success alert-dismissible fade show border"
                role="alert"
                style="
                  position: absolute;
                  width: 100%;
                  z-index: 1000000000000;
                  top: 5%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: rgb(30, 199, 30);
                  background-color: #33455a;
                  border: 0.01rem solid #33455a;
                  border-radius: 5px;
                  padding: 10px;
                  /* text-align: center; */
                "
              >
                {% for message in messages %}
                <strong>{{message}}</strong>
                <button
                  type="button"
                  class="btn-close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <!-- <span aria-hidden="true">&times;</span> -->
                </button>
                {% endfor %}
              </div>
              
              
              {% endif %} {% endif %}</div>
            </div>
              <div class="mb-3">
                <div class="ms_top_search">
                  <input
                    type="text"
                    name="username"
                    class="btn_b_space form-control"
                    placeholder="(Optional) Enter your name"
                    value=""
                  />
                </div>
                </div>
              <div class="mb-3">
                <div class="ms_top_search">
                  <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    class="btn_b_space form-control"
                    value=""
                    required
                  />
                </div>
                </div>
                <div class="mb-3">
                    <div class="ms_top_search">
                      <input
                        type="text"
                        name="phone"
                        placeholder="(Optional) Enter your mobile number"
                        class="btn_b_space form-control"
                        value=""
                      />
                    </div>
                    </div>
                    <div class="mb-3">
                        <div class="ms_top_search">
                          <input
                            type="number"
                            name="amount"
                            min="1"
                            step="any"
                            placeholder="Enter amount"
                            class="btn_b_space form-control"
                            value=""
                            required
                          />
                        </div>
                        </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn_b_space ms_btn">Proceed to Checkout</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- end donate ui -->

{% endblock %}
